.button1 {
  float: right;
}

.flow {
  margin-right: 8px;
  width: 30%;
  float: left;
  height: 150px;
}
.accordion-body {
  padding: 1rem 1.25rem;
  width: inherit;
  height: 200px;
}
.accordion {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  transition: 0.4s;
}
/* .collapse-content {
  width: 50vw;
  margin: auto;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

}
.colapse{
  display:block;
} */
.accordion-item{
  margin-bottom:10px;
  border-style: groove;
  background-color: whitesmoke;
}
